<mat-toolbar class="header mat-elevation-z4">
  <a (click)="toggleMenu()" *ngIf="isHandset$ | async" style="cursor: pointer">
    <mat-icon color="warn">menu</mat-icon>
  </a>
  <span>
    <a routerLink="/" [ngClass]="{ center: isHandset$ | async }">
      <img class="logo" src="./assets/logo.png" alt="logo" />
      {{ this.selectedCompany.name === null ? '' : this.selectedCompany.name}}
    </a>
  </span>
  <span class="title-group">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon class="icon-display" fontIcon="account_circle" color="warn"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let company of companys"
        (click)="this.switchCompany(company._id !== undefined ? company._id : '')">
        <mat-icon>apartment</mat-icon>
        <span>{{ company.name }}</span>
      </button>
      <button mat-menu-item (click)="this.sair()">
        <mat-icon>logout</mat-icon>
        <span>Sair</span>
      </button>
    </mat-menu>
    <!-- <a routerLink="/login" style="cursor: pointer">
      <mat-icon
        class="icon-display"
        fontIcon="account_circle"
        color="warn"
      ></mat-icon>
    </a> -->
  </span>
</mat-toolbar>