.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

.header a {
  display: flex;
  align-items: center;
  text-align: none;
  text-decoration: none;
  color: #fff;
  flex: 1;
}

.center {
  justify-content: center;
}

span {
  flex: 1;
}

.header .logo {
  max-height: 50px;
}

.header .title-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header .title-group i {
  padding-right: 5px;
}
.icon-display {
  transform: scale(1.6);
}

.logo {
  margin-right: 15px;
}
